examples/simple-16ports-test.js
[{"id":"e0f91692.9ca4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5f22bb28.782764","type":"inject","z":"e0f91692.9ca4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["2bbc66d8.59245a"]]},{"id":"f6095524.321c8","type":"debug","z":"e0f91692.9ca4","name":"Out Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":160,"wires":[]},{"id":"b8057bd.4f4a988","type":"catch","z":"e0f91692.9ca4","name":"","scope":null,"uncaught":false,"x":80,"y":700,"wires":[["4d531d90.8a00bc"]]},{"id":"4d531d90.8a00bc","type":"debug","z":"e0f91692.9ca4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":700,"wires":[]},{"id":"70dbc35e.4829a4","type":"function","z":"e0f91692.9ca4","name":"Random All","func":"msg.payload = [];\nfor (i=0; i<16; i++)\n    msg.payload.push(Math.floor(Math.random() * 2) );\n    \nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["4ca3b141.171578"]]},{"id":"4ca3b141.171578","type":"spi-service","z":"e0f91692.9ca4","Name":"SPI Service","portCount":"16","latchPin":"0","latchDelay":"0","speed":"4000000","loopDelayUs":"100","shmSegmentKey":"1000146","disableSHMWriteBack":"1","x":530,"y":160,"wires":[["f6095524.321c8"]]},{"id":"b9031cc1.f2892","type":"comment","z":"e0f91692.9ca4","name":"Catch run-time errors and press the debug panel.","info":"Catch run-time errors and prints the debug panel.","x":210,"y":660,"wires":[]},{"id":"2bbc66d8.59245a","type":"function","z":"e0f91692.9ca4","name":"0","func":"var newMsg = msg;\nvar rndPorts = [];\n\n//Math.floor(Math.random() * 2)\nfor (i=0; i<16; i++)\n    rndPorts.push(0);\n\nrndPorts[0] = 1;\n\nnewMsg.payload = rndPorts;\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["4ca3b141.171578"]]},{"id":"ab620298.6296f8","type":"function","z":"e0f91692.9ca4","name":"1","func":"var newMsg = msg;\nvar rndPorts = [];\n\n//Math.floor(Math.random() * 2)\nfor (i=0; i<16; i++)\n    rndPorts.push(0);\n\nrndPorts[1] = 1;\n\nnewMsg.payload = rndPorts;\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["4ca3b141.171578"]]},{"id":"64ec037a.03b364","type":"inject","z":"e0f91692.9ca4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["ab620298.6296f8"]]},{"id":"5689dfe1.c38d3","type":"inject","z":"e0f91692.9ca4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["405d5998.1a5dc8"]]},{"id":"405d5998.1a5dc8","type":"function","z":"e0f91692.9ca4","name":"7","func":"var newMsg = msg;\nvar rndPorts = [];\n\n//Math.floor(Math.random() * 2)\nfor (i=0; i<16; i++)\n    rndPorts.push(0);\n\nrndPorts[7] = 1;\n\nnewMsg.payload = rndPorts;\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["4ca3b141.171578"]]},{"id":"7b961d4f.46a2d4","type":"function","z":"e0f91692.9ca4","name":"8","func":"var newMsg = msg;\nvar rndPorts = [];\n\n//Math.floor(Math.random() * 2)\nfor (i=0; i<16; i++)\n    rndPorts.push(0);\n\nrndPorts[8] = 1;\n\nnewMsg.payload = rndPorts;\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["4ca3b141.171578"]]},{"id":"77d4c707.744bf8","type":"inject","z":"e0f91692.9ca4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["7b961d4f.46a2d4"]]},{"id":"2de7d6a3.64c172","type":"inject","z":"e0f91692.9ca4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["6756991b.a4bf3"]]},{"id":"6756991b.a4bf3","type":"function","z":"e0f91692.9ca4","name":"Just 3","func":"var newMsg = msg;\nvar rndPorts = [];\nrndPorts[3] = 1;\nnewMsg.payload = rndPorts;\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["4ca3b141.171578"]]},{"id":"a7447bee.35b1b8","type":"functi
